body {
  background-image: url(img/background.png);
}

ul {
  list-style: none;
}

.bg-header {
  background: black;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-color: #822a0b;
}

.bg-none {
  background: url(img/background.png);
  border-radius: 4px;
}

.registre {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border-right: 2px solid gray;
}

.login {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #ba3500 !important;
  padding-left: 15px;
}
.search-icon {
  max-width: 100%;
  max-height: 15px;
  display: inline-block;
  vertical-align: middle;
}

.search-button {
  color: white;
  border: 2px solid #ee490e;
  border-radius: 4px;
  background: #b42f00 !important;
}

.bg-nav {
  margin-top: 5px;
  padding-left: 5px;

  width: 100%;
  height: 80px;

  border-style: solid;
  border-color: #7c2a0c;
  background: #ee490e;
  vertical-align: middle;

  border-width: 6px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-radius: 3px;
}

.divisaoNews {
  width: 100%;
  height: 105px;
  margin-bottom: 20px;

  background: white;
  border-radius: 3px;
}

.divisaoNews2 {
  width: 100%;
  height: 1000px;
  margin-bottom: 20px;
  background: #46495c;
}

.divisaoNewsBar {
  width: 100%;
  height: 40px;
  margin-top: 0px;

  background: #d1d1d1;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.newsCell {
  color: #d53f00;
  font-weight: bold;
}

.img-relogio {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

.texto {
  color: #46495c;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: small;
}

.divisaoTopIcone {
  width: 6%;
  height: 100%;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;

  color: #181818;
  display: inline-block;
  vertical-align: top;
}

.popularImagem {
  width: 100%;
  height: 100%;

  display: inline-block;
}

.popularIconImagem {
  width: 25px;
  height: 20px;
  vertical-align: middle;
}

.popularIcon {
  width: 40px;
  height: 30px;

  text-align: center;
  vertical-align: middle;

  border-style: solid;
  border-width: 1px;
  border-color: #97979700;
}

.lateral-box1 {
  width: 92%;
  height: 66%;

  margin-left: 10%;
  margin-top: 10%;

  border-radius: 3px;
  background: rgb(255, 255, 255);
}

.lateral-line1 {
  background: #d63600;

  border-style: solid;
  border-color: #ff5c24;
  border-width: 1px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;

  height: 6.6%;

  text-align: center;
  vertical-align: middle;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: white;
  text-shadow: black -0.01em -0.07em 0.1em;
}

.lateralCellSize {
  width: 1%;
  height: 27px;

  border-style: solid;
  border-width: 1px;
  border-color: #97979700;
}

#lateralGrayFont {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 13px;
  color: #46495c;
}

.lateral-line2 {
  background: #f0f0f0;

  border-style: solid;
  border-color: #cdcdcd;
  border-width: 1px;
  border-top-width: 0px;

  height: 6.6%;
}

.lateral-box2 {
  width: 92%;
  height: 14%;

  margin-left: 10%;
  margin-top: 20%;

  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background: rgb(255, 255, 255);
}

.lateral-line3 {
  background: #d63600;

  border-style: solid;
  border-color: #ff5c24;
  border-width: 1px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;

  height: 33%;

  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: white;
  text-shadow: black -0.01em -0.07em 0.1em;
}

.lateral-line4 {
  background: #f0f0f0;

  border-style: solid;
  border-color: #cdcdcd;
  border-width: 1px;
  border-top-width: 0px;

  height: 33%;
}
